<p>author : <b>{{data.value.author}}</b></p>
<p>comment_text : <b>{{data.value.commentText}}</b></p>
<p>created_at : <b>{{data.value.createdAt}}</b></p>
<p>created_at_i : <b>{{data.value.createdAtI}}</b></p>
<p>num_comments : <b>{{data.value.numComments}}</b></p>
<p>objectID : <b>{{data.value.objectID}}</b></p>
<p>parent_id : <b>{{data.value.parentId}}</b></p>
<p>points : <b>{{data.value.points}}</b></p>
<p>story_id : <b>{{data.value.storyId}}</b></p>
<p>story_text : <b>{{data.value.storyText}}</b></p>
<p>story_title : <b>{{data.value.storyTitle}}</b></p>
<p>story_url : <b>{{data.value.storyUrl}}</b></p>
<p>title : <b>{{data.value.title}}</b></p>
<p>url : <b>{{data.value.url}}</b></p>

<input (click)="closeIt()" value="Close" type="button" class="button">